/* The container */
.container 
{
  
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 18px;

}

/* Hide the browser's default checkbox */
.container input 
{
  
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a red background */
.container input:checked ~ .checkmark 
{
  background-color: red;
  
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after 
{
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after 
{
  display: block;
  
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

form
{
	border:5px solid #148BA6;
  border-radius:20px;
  width: 50%;
  margin:auto;
  display:block;
  background-color:#F2E394;
}

label
{
	margin-left: 20px;
  font-family:arial;
  font-size: 14px;
 
}

h1, h2#h2-top
{
	text-align:center;
  font-family:arial;
}

body
{
  background-color:#BDE3F2;
}
.button {
  background-color: red;
  border: none;
  color: white;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-family:arial;
  border-radius: 10px;
  border: 2px solid #8C4130;
  margin-top: 20px;
  margin-bottom: 20px;
}

.button:hover
{
  background-color:#8C4130;
}


.buttonDiv, .priceInfo
{
  display: flex;
  justify-content: center;
  align-items: center; 
}
.total_salary
{
	text-align:center;
  font-family:arial;
  font-weight:bold;
  font-size: 22px;
}
